.pie-chart{
    height:440px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px lightblue;
    margin-top: 10px;
}
.pie-heading{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    margin-left: 10px;

}